<h1>Shared</h1>
<p>Words shared between all source languages in this dictionary.</p>

{% if entries %}
{% for entry in entries %}
<h2>{{ entry.headword }}</h2>
{% for locale_entry in entry.locales %}
<h3>{{ locale_entry.name }}</h3>
{% with word = locale_entry %}
{% include "word_meta.xhtml.j2" %}
{% endwith %}
{% endfor %}
{% endfor %}
{% else %}
<p>No words are shared across all locales in this dictionary.</p>
{% endif %}
