<ul>
<li>Size: <i>{{ "%.1f"|format(word.size_kb) }} KB</i></li>
<li>Alternates: <i>{{ word.synonym_count }}</i></li>
<li>Pronunciation: <i>{{ word.pronunciations | join(", ") if word.pronunciations else "N/A" }}</i></li>
</ul>
